<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}E-aukc{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
            <link href="{{ asset('css/style.css') }}" rel="stylesheet">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

        {% block menu %}
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{ path('index') }}">E-aukc</a>
                    </div>
                    <div id="navbar" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li class=""><a href="{{ path('index') }}">Pradžia</a></li>
                            <li class=""><a href="{{ path('auction_list') }}">Aukcionai</a></li>
                        </ul>
                        {% block user_navbar %}
                            {{ render(controller('AppBundle:Navigation:userMenu', {'request':app.request})) }}
                        {% endblock %}
                    </div>
                </div>
            </nav>
        {% endblock %}

        {% block body %}{% endblock %}

        {% block javascripts %}
            <script src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        {% endblock %}
        {% block javascript_inline %}{% endblock %}
    </body>
</html>
