{% extends 'AppBundle::base.html.twig' %}

{%  block body %}
    <div class="login-wrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-2"></div>
                {{ form_start(form, { 'attr': {'class': 'form-horizontal col-lg-7'} }) }}
                    <div class="row">
                        <div class="col-sm-3"></div>
                        <h2 class="col-sm-9">Nauja prekė</h2>
                    </div>
                    <div class="row bg-info message" style="padding:15px;margin-bottom:15px;">
                        <p>Prekė gali būti įkelta kaip įprata prekė e-parduotuvėje ir/arba kaip aukciono prekė.</p>
                        <p>Prekės pavadinimas bei aprašymas yra privalomi laukai.</p>
                        <p>Norėdami įkelti prekę įpratai, prekės kainą įveskite į laukelį "Pirkti dabar kaina", likusius laukelius palikite tuščius.</p>
                        <p>Norėdami surengti aukcioną įveskite pradinę kainą bei aukciono pradžios ir pabaigos datas. Jei kartu įvesite "Pirkt dabar kainą", pirkėjai galės iškart nusipirkti prekę taip nutraukdami aukcioną.</p>
                    </div>
                    {% if errors %}
                        <div class="row bg-danger message" style="margin-bottom:15px;">
                            <h3 style="margin-top:0;">Dėmesio!</h3>
                            <ul>
                                {% for error in errors %}
                                    <li>{{ error.Message }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Pavadinimas</label>
                        <div class="col-sm-9">
                            {{ form_widget(form.name, { 'attr': {'class': 'form-control' } }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Aprašymas</label>
                        <div class="col-sm-9">
                            {{ form_widget(form.description, { 'attr': {'class': 'form-control' } }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Pradinė kaina</label>
                        <div class="col-sm-9">
                            {{ form_widget(form.basePrice, { 'attr': {'class': 'form-control' } }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Pirk dabar kaina</label>
                        <div class="col-sm-9">
                            {{ form_widget(form.buyNowPrice, { 'attr': {'class': 'form-control' } }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Aukciona pradžia</label>
                        <div class=" col-sm-9">
                            <div class='input-group date' id='datetimepicker1'>
                                {{ form_widget(form.auctionStart, { 'attr': {'class': 'form-control' } }) }}
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Aukciono pabaiga</label>
                        <div class=" col-sm-9">
                            <div class='input-group date' id='datetimepicker2'>
                                {{ form_widget(form.auctionEnd, { 'attr': {'class': 'form-control' } }) }}
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            {{ form_widget(form.create, { 'attr': {'class': 'btn btn-default'} }) }}
                        </div>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript_inline %}
    {{ parent() }}
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker();
            $('#datetimepicker2').datetimepicker();
        });
    </script>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/vendor/moment/min/moment.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/eonasdan-bootstrap-datetimepicker/src/js/bootstrap-datetimepicker.js') }}"></script>
{% endblock %}
