{% extends 'AppBundle::base.html.twig' %}

{%  block body %}
    <div class="login-wrap">
        <div class="container">
            {% if error %}
                <div class="bg-danger message">
                    Vartotojo vardas i/arba slaptažodis nerasti. Bandykite dar kartą arba užsiregistruokite.
                </div>
            {% endif %}
            {{ form_start(loginForm, { 'attr': {'class': 'form-signin'} }) }}
                <h2 class="form-signin-heading">Prisijunkite</h2>
                {{ form_widget(loginForm.username, { 'attr': {'class': 'form-control', 'placeholder': 'Vartotojo vardas'} }) }}
                {{ form_widget(loginForm.password, { 'attr': {'class': 'form-control', 'placeholder': 'Slaptažodis'} }) }}
                {{ form_widget(loginForm.signIn, { 'attr': {'class': 'btn btn-lg btn-primary btn-block'} }) }}
            {{ form_end(loginForm) }}
        </div>
    </div>
{% endblock %}
