{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="container">
        <h2>Nustatymai</h2>
        {% if message is not null %}
            <div class="row bg-info message" style="padding:15px;margin-bottom:15px;">
                {{ message }}
            </div>
        {% endif %}
        <div class="row">
            <div class="col-md-4">
                <ul class="list-group">
                    <li class="list-group-item"><a href="#" id="show-user-data">Mano duomenys</a></li>
                    <li class="list-group-item"><a href="#" id="change-password">Keisti slaptažodį</a></li>
                    <li class="list-group-item"><a href="#" id="change-email">Keisti El. pašto adresą</a></li>
                    <li class="list-group-item"><a href="#" id="change-data">Redaguoti duomenis</a></li>
                    {% if user.role >= 3 %}
                        <li class="list-group-item"></li>
                        <li class="list-group-item"><a href="#" id="all-items">Visų prekių sąrašas</a></li>
                        <li class="list-group-item"><a href="#" id="new-items">Nepatvirtintų prekių sąrašas</a></li>
                    {% endif %}
                    {% if user.role >= 5 %}
                        <li class="list-group-item"></li>
                        <li class="list-group-item"><a href="#" id="all-users">Vartotojų sąrašas</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="col-md-8">
                <div class="change-form" id="user-data" style="display: none;">
                    <div class="row">
                        <div class="col-xs-4">
                            Vartotojo vardas
                        </div>
                        <div class="col-xs-8">
                            {{ user.username }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            El. pašto adresas
                        </div>
                        <div class="col-xs-8">
                            {{ user.email }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            Vardas
                        </div>
                        <div class="col-xs-8">
                            {{ user.firstName }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            Pavardė
                        </div>
                        <div class="col-xs-8">
                            {{ user.lastName }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            Miestas
                        </div>
                        <div class="col-xs-8">
                            {{ user.city }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            Adresas
                        </div>
                        <div class="col-xs-8">
                            {{ user.address }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            Telefono numeris
                        </div>
                        <div class="col-xs-8">
                            {{ user.phone }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            Rolė
                        </div>
                        <div class="col-xs-8">
                            {{ user.role }}
                        </div>
                    </div>
                </div>
                <div class="change-form" id="change-password-form" style="display: none;">
                    {{ form_start(passwordForm, { 'attr': {'class': 'form-horizontal'} }) }}
                        <div class="form-group">
                            <label class="col-xs-4 control-label">Senas slaptažodis:</label>
                            <div class="col-xs-8">
                                {{ form_widget(passwordForm.oldPassword, { 'attr': {'class': 'form-control' } }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-4 control-label">Naujas slaptažodis:</label>
                            <div class="col-xs-8">
                                {{ form_widget(passwordForm.newPassword, { 'attr': {'class': 'form-control' } }) }}
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary pull-right">Keisti</button>
                    {{ form_end(passwordForm) }}
                </div>
                <div class="change-form" id="change-email-form" style="display: none;">
                    {{ form_start(emailForm, { 'attr': {'class': 'form-horizontal'} }) }}
                        <div class="form-group">
                            <label class="col-xs-4 control-label">Naujas el. pašto adresas:</label>
                            <div class="col-xs-8">
                                {{ form_widget(emailForm.email, { 'attr': {'class': 'form-control' } }) }}
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary pull-right">Keisti</button>
                    {{ form_end(emailForm) }}
                </div>
                <div class="change-form" id="change-data-form" style="display: none;">
                    {{ form_start(changeDataForm, { 'attr': {'class': 'form-horizontal'} }) }}
                    <div class="form-group">
                        <label class="col-xs-4 control-label">Vardas</label>
                        <div class="col-xs-8">
                            {{ form_widget(changeDataForm.firstName, { 'attr': {'class': 'form-control' } }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 control-label">Pavardė</label>
                        <div class="col-xs-8">
                            {{ form_widget(changeDataForm.lastName, { 'attr': {'class': 'form-control' } }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 control-label">Adresas</label>
                        <div class="col-xs-8">
                            {{ form_widget(changeDataForm.address, { 'attr': {'class': 'form-control' } }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 control-label">Miestas</label>
                        <div class="col-xs-8">
                            {{ form_widget(changeDataForm.city, { 'attr': {'class': 'form-control' } }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 control-label">Telefono nr.</label>
                        <div class="col-xs-8">
                            {{ form_widget(changeDataForm.phone, { 'attr': {'class': 'form-control' } }) }}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">Keisti</button>
                    {{ form_end(changeDataForm) }}
                </div>
                <div class="change-form" id="all-items-list" style="display: none;">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Pavadinimas</th>
                            <th>Būsena</th>
                            <th>Pradinė kaina</th>
                            <th>Aukščiausias statymas</th>
                            <th>Pirk dabar kaina</th>
                            <th>Aukciono pradžia</th>
                            <th>Aukciono pabaiga</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in items %}
                            <tr>
                                <td>
                                    <a href="{{ path('auction', {'id': item.id}) }}">{{ item.name }}</a>
                                </td>
                                <td>
                                    {% if item.status == 'selling' %}
                                        Parduodama
                                    {% elseif item.status == 'sold' %}
                                        Parduota - pirkėjas {{ item.buyer.username }}
                                    {% elseif item.status == 'finished' %}
                                        Aukcionas pasibaigė be statymų
                                    {% elseif item.status == 'new' %}
                                        Laukiama patvirtinimo
                                    {% elseif item.status == 'blocked' %}
                                        Užblokuota
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td>{{ item.basePrice }}</td>
                                <td>{{ item.currentPrice }}</td>
                                <td>{{ item.buyNowPrice }}</td>
                                <td>{% if item.auctionStart is not null %}{{ item.auctionStart|date("Y-m-d H:m:s") }}{% endif %}</td>
                                <td>{% if item.auctionEnd is not null %}{{ item.auctionEnd|date("Y-m-d H:m:s") }}{% endif %}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="change-form" id="new-items-list" style="display: none;">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Pavadinimas</th>
                            <th>Būsena</th>
                            <th>Pradinė kaina</th>
                            <th>Aukščiausias statymas</th>
                            <th>Pirk dabar kaina</th>
                            <th>Aukciono pradžia</th>
                            <th>Aukciono pabaiga</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in newItems %}
                            <tr>
                                <td>
                                    <a href="{{ path('auction', {'id': item.id}) }}">{{ item.name }}</a>
                                </td>
                                <td>
                                    {% if item.status == 'selling' %}
                                        Parduodama
                                    {% elseif item.status == 'sold' %}
                                        Parduota - pirkėjas {{ item.buyer.username }}
                                    {% elseif item.status == 'finished' %}
                                        Aukcionas pasibaigė be statymų
                                    {% elseif item.status == 'new' %}
                                        Laukiama patvirtinimo
                                    {% elseif item.status == 'blocked' %}
                                        Užblokuota
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td>{{ item.basePrice }}</td>
                                <td>{{ item.currentPrice }}</td>
                                <td>{{ item.buyNowPrice }}</td>
                                <td>{% if item.auctionStart is not null %}{{ item.auctionStart|date("Y-m-d H:m:s") }}{% endif %}</td>
                                <td>{% if item.auctionEnd is not null %}{{ item.auctionEnd|date("Y-m-d H:m:s") }}{% endif %}</td>
                                <td>
                                    <a href="{{ path('user_settings', {'action': 'confirmItem', 'itemId': item.id}) }}">Patvirtinti</a>
                                    <br>
                                    <a href="{{ path('user_settings', {'action': 'blockItem', 'itemId': item.id}) }}">Blokuoti</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="change-form" id="all-users-list" style="display: none;">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Vartotojo vardas</th>
                            <th>El. paštas</th>
                            <th>Vardas</th>
                            <th>Pavardė</th>
                            <th>Adresas</th>
                            <th>Tel. Nr.</th>
                            <th>Miestas</th>
                            <th>Rolė</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{ user.username }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.firstName }}</td>
                                <td>{{ user.lastName }}</td>
                                <td>{{ user.address }}</td>
                                <td>{{ user.phone }}</td>
                                <td>{{ user.city }}</td>
                                <td>
                                    {% if user.role == 1 %}
                                        Vartotojas
                                    {% elseif user.role == 3 %}
                                        Moderatorius
                                    {% elseif user.role == 5 %}
                                        Administratorius
                                    {% else %}
                                        {{ user.role }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if user.role < 5 %}
                                        {% if user.active %}
                                            <a href="{{ path('user_settings', {'action': 'deactivateUser', 'userId': user.id}) }}">Deaktyvuoti</a>
                                        {% else %}
                                            <a href="{{ path('user_settings', {'action': 'activateUser', 'userId': user.id}) }}">Aktyvuoti</a>
                                        {% endif %}
                                        <br>
                                        {% if user.role == 1 %}
                                            <a href="{{ path('user_settings', {'action': 'setUserModerator', 'userId': user.id}) }}">Suteikti moderatoriaus teises</a>
                                        {% endif %}
                                        {% if user.role == 3 %}
                                            <a href="{{ path('user_settings', {'action': 'unsetUserModerator', 'userId': user.id}) }}">Atimti moderatoriaus teises</a>
                                        {% endif %}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript_inline %}
    {{ parent() }}

    <script type="text/javascript">
        $(function () {
            $("#change-password").click(function (e) {
                e.preventDefault();
                $(".change-form").hide();
                $("#change-password-form").show("fast");
            });

            $("#change-email").click(function (e) {
                e.preventDefault();
                $(".change-form").hide();
                $("#change-email-form").show("fast");
            });

            $("#change-data").click(function (e) {
                e.preventDefault();
                $(".change-form").hide();
                $("#change-data-form").show("fast");
            });

            $("#all-items").click(function (e) {
                e.preventDefault();
                $(".change-form").hide();
                $("#all-items-list").show("fast");
            });

            $("#new-items").click(function (e) {
                e.preventDefault();
                $(".change-form").hide();
                $("#new-items-list").show("fast");
            });

            $("#all-users").click(function (e) {
                e.preventDefault();
                $(".change-form").hide();
                $("#all-users-list").show("fast");
            });

            $("#show-user-data").click(function (e) {
                e.preventDefault();
                $(".change-form").hide();
                $("#user-data").show("fast");
            });
        });
    </script>

{% endblock %}
